<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            CREATE NEW LIST
        </h1>
        <div class="field is ground">
            <p class="control is expanded">
                <input #listTitle  class="input" type="text" placeholder="Enter list...">
            </p>
            <p class="controls">
                <a class="button">
                    <button (click)="createList(listTitle.value)">ADD TASK</button>
                    <button routerLink="/" class="button" >Cancel</button>
                </a>
            </p>
        </div>


    </div>

</div>
